<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户管理</title>
<script type="text/javascript" src="../../js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" src="../../js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

	<a href="toHome">返回</a>
	<br />
	<br />
	<div >
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#addVo">增加用户</button>
	</div>
	<br />
	<table
		class="table-striped table-bordered table-hover  table-condensed">
		<thead>
			<th wdidth="30px" style="text-align: center;" hidden="true">did</th>
			<th wdidth="30px" style="text-align: center;">id</th>
			<th wdidth="70px" style="text-align: center;">用户名</th>
			<th wdidth="70px" style="text-align: center;">科室</th>
			<th wdidth="70px" style="text-align: center;">职位</th>
			<th wdidth="70px" style="text-align: center;">联系方式</th>
			<th wdidth="70px" style="text-align: center;">性别</th>
			<th wdidth="70px" style="text-align: center;">年龄</th>
			<th wdidth="70px" style="text-align: center;">创建时间</th>
			<th style="text-align: center;">操作</th>
		</thead>
		<tbody>
			<tr th:each="vo : ${vos}">
				<td th:text="${vo.did}" wdidth="20px" align="center" hidden="true"></td>
				<td th:text="${voStat.index+1}" wdidth="20px" align="center"></td>
				<td th:text="${vo.trueName}" wdidth="70px" align="center"></td>
				<td th:text="${vo.departmentId}" wdidth="70px" align="center"></td>
				<td th:text="${vo.title}" wdidth="70px" align="center"></td>
				<td th:text="${vo.phone}" wdidth="70px" align="center"></td>
				<td th:text="${vo.sex}" wdidth="70px" align="center"></td>
				<td th:text="${vo.age}" wdidth="70px" align="center"></td>
				<td th:text="${vo.createTime}" wdidth="70px" align="center"></td>
				<td>
					<button type="button" class="btn btn-default btn-sm mr10 toEditName" data-toggle="modal"
						data-target="#editVo" th:if="${vo.did!=1}" 
						th:attr="data-id=${vo.did}" >修改权限组名称</button>
					<button type='button' class='btn btn-default btn-sm mr10 '
						th:if="${vo.did!=1}"
						th:onclick="'javascript:toEdit('+${vo.did}+')' ">修改权限</button>
					<button type='button' class='btn btn-default btn-sm mr10 '
						th:if="${vo.did!=1}" th:onclick="'javascript:deleteVo('+${vo.did}+')' ">删除权限组</button>
				</td>
			</tr>
		</tbody>
	</table>

<div class="modal fade bs-example-modal-sm" id="addVo"
		tabindex="-1" role="dialog" aria-labelledby="addVoLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">增加用户</h4>
				</div>
				<div class="pd20">
					<div class="input-group listSeaForm mt10 wb100">
						<span class="input-group-btn"> <span class="btn">用户名称：</span>
						</span> <input class="form-control" type="text" value="" id="trueName"
							placeholder="请填写用户名称">
					</div>
				</div>
				<div class="pd20">
					<div class="input-group listSeaForm mt10 wb100">
						<span class="input-group-btn"> <span class="btn">科室：</span>
						</span> <input class="form-control" type="text" value="" id="departmentId"
							placeholder="请填写用户名称">
					</div>
				</div>
				<div class="pd20">
					<div class="input-group listSeaForm mt10 wb100">
						<span class="input-group-btn"> <span class="btn">职位：</span>
						</span> <input class="form-control" type="text" value="" id="title"
							placeholder="请填写用户名称">
					</div>
				</div>
				<div class="pd20">
					<div class="input-group listSeaForm mt10 wb100">
						<span class="input-group-btn"> <span class="btn">联系方式：</span>
						</span> <input class="form-control" type="text" value="" id="phone"
							placeholder="请填写联系方式">
					</div>
				</div>
				<div class="pd20">
					<div class="input-group listSeaForm mt10 wb100">
						<span class="input-group-btn"> <span class="btn">性别：</span>
						</span> <input class="form-control" type="text" value="" id="sex"
							placeholder="请填写用户名称">
					</div>
				</div>
				<div class="pd20">
					<div class="input-group listSeaForm mt10 wb100">
						<span class="input-group-btn"> <span class="btn">年龄：</span>
						</span> <input class="form-control" type="text" value="" id="age"
							placeholder="请填写用户年龄">
					</div>
				</div>
				<div class="modal-footer">
            		<button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
            		<button type="button" class="btn btn-primary wb100" id="addGroup">添加</button>
         		</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
		$('.toEditName').click(function() {
			var authGroup_id =  $(this).attr('data-id');	
			$('#editGroup').click(function() {
				var title = $("#titleEdit").val();
				var page = "editGroupName/"+authGroup_id+"?title=" + title;
				$.ajax({
					type : "post",
					url : page,
					data : {
						authGroup_id : authGroup_id,
						title : title
					},
					contentType : "application/json;charset=UTF-8",
					success : function(result) {
						location.reload();
						alert("权限组名称已修改");
					},
					error : function(result) {
						alert("操作出错啦！请联系管理人员");
					},
					fail : function(result) {
						alert("由于网络不顺畅等原因，无法执行本次操作");
					}
				});
			});
		});
		$('#addGroup').click(function() {
			var title = $("#title").val();
			var page = "addGroups?title=" + title;
			$.ajax({
				type : "post",
				url : page,
				data : {
					title : title
				},
				contentType : "application/json;charset=UTF-8",
				success : function(result) {
					location.reload();
					alert("权限组 " + title + " 已添加");
				},
				error : function(result) {
					alert("操作出错啦！请联系管理人员");
				},
				fail : function(result) {
					alert("由于网络不顺畅等原因，无法执行本次操作");
				}
			});
		});
		function deleteGroup(authGroup_id) {
			var confirmDelete = confirm("确认要删除");
            if(confirmDelete){
            	var page = "deleteGroup/" + authGroup_id;
    			$.ajax({
    						type : "post",
    						url : page,
    						data : {
    							authGroup_id : authGroup_id
    						},
    						contentType : "application/json;charset=UTF-8",
    						success : function(result) {
    							location.reload();
    							alert("权限组已删除");
    						},
    						error : function(result) {
    							alert("操作出错啦！请联系管理人员");
    						},
    						fail : function(result) {
    							alert("由于网络不顺畅等原因，无法执行本次操作");
    						}
    					});
            }
		};
		function toEdit(id) {
			var page = "toUpdateRules?id=" + id;
			$.ajax({
						type : "post",
						url : page,
						data : {
							id : id
						},
						contentType : "application/json;charset=UTF-8",
						success : function(result) {
							window.location.href = "http://localhost:8080/hospital/toUpdateRules?id="
									+ id;
						},
						error : function(result) {
							alert("操作出错啦！请联系管理人员");
						},
						fail : function(result) {
							alert("由于网络不顺畅等原因，无法执行本次操作");
						}
					});
		};
	</script>

</body>
</html>