<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../../js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" src="../../js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<title>权限分组</title>
</head>
<body>
<a href="toGroups">返回</a>
<br/><br/>
	<table 
		class="table-striped table-bordered table-hover  table-condensed">
		<thead >
			<th width="30px" style="text-align:center;">id</th>
			<th width="70px" style="text-align:center;">组别</th>
			<th style="text-align:center;">操作</th>
		</thead>
		<tbody>
			<tr th:each="group: ${groups}">
				<td th:text="${groupStat.index+1}" width="20px" align="center"></td>
				<td th:text="${group.title}" width="70px" align="center"></td>
				<td>
					<button type='button'  class='btn btn-default btn-sm mr10 toNANBtn' th:if="${group.id!=1}">修改权限组名称</button>
					<button type='button'  class='btn btn-default btn-sm mr10 ' th:if="${group.id!=1}" 
						th:onclick="'javascript:deleteUser('+${group.id}+')' ">修改权限</button>
					<button type='button'  class='btn btn-default btn-sm mr10 ' th:if="${group.id!=1}">删除权限组</button>
					<a th:if="${group.id!=1}" 
						th:href="@{/toUpdateRules(id=${group.id})}" rel="noopener">修改权限组名称 | </a>
					<a th:if="${group.id!=1}" 
						th:href="@{/toUpdateRules(id=${group.id})}" rel="noopener">修改权限 | </a>
					<a th:if="${group.id!=1}" 
						deleteLink="true" th:href="@{/deleteRuleGroup(id=${group.id})}" rel="noopener">删除权限组</a>
				</td>
			</tr>
		</tbody>
	</table>

<script type="text/javascript">
$(function(){
    $("a").click(function(){
        var deleteLink = $(this).attr("deleteLink");
        console.log(deleteLink);
        var confirmDelete = confirm("确认要删除");
           if(confirmDelete)
              return true;
        return false;    

    });
})
</script>
</body>
</html>