<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="../../js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" src="../../js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<title>主页面</title>
</head>
<body>

	<div class="row">
		<div class="col-lg-1">
			<h4 th:text="${member.userName}" style="color: green"></h4>
		</div>
		<div class="col-lg-1">
			<h4>
				<a href="logout">退出登录</a>
			</h4>
		</div>
	</div><br/><br/>

	
	<div shiro:hasPermission="AuthGroup:index">
		<a href="toGroups">权限组修改</a><br />
	</div>

</body>
</html>