<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.DzmHisPatientFileMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.example.demo.pojo.DzmHisPatientFile" id="dzmHisPatientFileMap">
        <result property="fileId" column="file_id"/>
        <result property="patientId" column="patient_id"/>
        <result property="emergencyContactName" column="emergency_contact_name"/>
        <result property="emergencyContactMobile" column="emergency_contact_mobile"/>
        <result property="emergencyContactRelation" column="emergency_contact_relation"/>
        <result property="leftEarHearing" column="left_ear_hearing"/>
        <result property="rightEarHearing" column="right_ear_hearing"/>
        <result property="leftVision" column="left_vision"/>
        <result property="updateTime" column="update_time"/>
        <result property="rightVision" column="right_vision"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="bloodType" column="blood_type"/>
        <result property="createTime" column="create_time"/>
        <result property="personalInfo" column="personal_info"/>
        <result property="familyInfo" column="family_info"/>
    </resultMap>

</mapper>