<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.DzmHisMemberMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.example.demo.pojo.DzmHisMember" id="dzmHisMemberMap">
        <result property="uid" column="uid"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="pId" column="p_id"/>
        <result property="type" column="type"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
	<select id="getVO" resultType="com.example.demo.vo.member_doctorVO">
		SELECT d.true_name as trueName,d.sex,d.age,d.create_time as createTime,g.title,dt.department_name as departmentName,d.phone,d.id as did FROM `dzm_his_auth_group` g join `dzm_his_member` m join `dzm_his_doctor` d join `dzm_his_department` dt on m.type=g.id and d.uid=m.uid and d.department_id=dt.did
	</select>
</mapper>